.clearfix {
     clear: both;
  }
  
  .container {
    width: 965px;
    margin: 0 auto;
    background-color: gold;
  }
  
  .post {
    width: 30%;
    background-color: red;
   float: left;
   margin: 0 16px;
   border: 1px solid;
   box-sizing: border-box;
   padding: 15px;


    

  }