* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }

.t-title,
.title h1,
.last-content h4,
.l-footer a,
footer .bold,
footer .normal,
.logo span  {
    color:#000000;
}
.t-title {
    text-decoration: none;
}
.title h1 {
    font-size: 60px;
    font-weight: 700;
}
.title p,
.l-footer span {
    color: #4A5568;
}

.t-text {
    font-size: 30px;
    font-weight: 400;
}
.content h2,
.block-content h3,
.footer a,
.block-footer a {
    color:#2D3748;
}
.content h2 {
    font-size: 30px;
    font-weight: 700;
   
}
.t-text,
.block-text,
.t-lg-text,
.footer span {
    color:#718096;
}
.t-text,
.block-text {
    font-size: 14px;
    font-weight: 400;
}
.block-content h3,
.logo span {
    font-size: 20px;
    font-weight: 700;
}
.footer span,
.block-footer span {
    font-size: 12px;
    font-weight: 400;
}
.footer a,
.block-footer a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}
.last-content h4 {
    font-size: 40px;
    font-weight: 700;
}
.t-lg-text,
.t-title {
    font-size: 16px;
    font-weight: 400;
}
.l-footer span {
  font-size: 14px;
  font-weight: 400;  
}
.l-footer a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
footer .bold {
    font-size: 16px;
    font-weight: 700;
}
footer .normal {
    font-size: 16px;
    font-weight: 400;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 35px 85px;
}

.intro {
    width: 100%;
    height: 467px;
    background-color: #FBFBFB;
}
.container_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.title {
    margin: 100px 50px;
}

    
.title img {
    width: 70px;
    height: 67px;
    transform:rotate(-23.28deg);
}

.title-img img {
    width: 459px;
    height: 311px;
    margin: 70px 50px;
}

.title h1 {
    width: 354px;
    height: 146px;
}
.posts {
    width: 970px;
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;

}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 966px;
    height: 243px;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    margin-bottom: 30px;
    
}
.first-post {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    width: 532px;
    height: 232px;
}
.content {
    margin-left: 20px;
    margin-right: 50px;
}

.img_1 {
    width: 434px;
    height: 243px;
}
.content h2 {
    width: 247px;
    height: 36px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.t-text {
    margin-left: 50px;
    margin-bottom: 50px;
}
.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 50px;
    /*width: 100%;*/
}
.blocks-3 {
    display: flex;
    justify-content: space-between;
    width: 966px;
    height: 382px;
    margin-bottom: 30px;

}
.block_img img {
    width: 300px;
    height: 179px;
}
.block {
    width: 300px;
    height: 382px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}
.block-content h3 {
    width: 245px;
    height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.block-content {
    margin-left: 15px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.block-text {
    width: 258px;
    height: 85px;

}
.block-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 40px;
}



